loanProcessService/src/main/resources/wsdl/CreditHistoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreditHistoryServiceService" targetNamespace="http://service.credit.abc.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.credit.abc.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.credit.abc.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.credit.abc.org/">
  <xs:element name="getCreditHistory" type="tns:getCreditHistory"/>
  <xs:element name="getCreditHistoryResponse" type="tns:getCreditHistoryResponse"/>
  <xs:complexType name="getCreditHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicant" type="tns:applicant"/>
      <xs:element minOccurs="0" name="creditBureauType" type="tns:creditBureauType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="applicant">
    <xs:sequence>
      <xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
      <xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="ssn" type="xs:string"/>
      <xs:element minOccurs="0" name="stateCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCreditHistoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:creditHistory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="creditHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicantId" type="xs:int"/>
      <xs:element minOccurs="0" name="creditBureau" type="tns:creditBureauType"/>
      <xs:element minOccurs="0" name="creditScore" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="requestedDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="creditBureauType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRANSUNION"/>
      <xs:enumeration value="EQUIFAX"/>
      <xs:enumeration value="EXPERIAN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CreditHistoryValidationException" type="tns:CreditHistoryValidationException"/>
  <xs:complexType name="CreditHistoryValidationException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="CreditHistoryValidationException">
    <wsdl:part name="CreditHistoryValidationException" element="tns:CreditHistoryValidationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCreditHistoryResponse">
    <wsdl:part name="parameters" element="tns:getCreditHistoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCreditHistory">
    <wsdl:part name="parameters" element="tns:getCreditHistory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="creditHistoryService">
    <wsdl:operation name="getCreditHistory">
      <wsdl:input name="getCreditHistory" message="tns:getCreditHistory">
    </wsdl:input>
      <wsdl:output name="getCreditHistoryResponse" message="tns:getCreditHistoryResponse">
    </wsdl:output>
      <wsdl:fault name="CreditHistoryValidationException" message="tns:CreditHistoryValidationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditHistoryServiceServiceSoapBinding" type="tns:creditHistoryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCreditHistory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCreditHistory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCreditHistoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreditHistoryValidationException">
        <soap:fault name="CreditHistoryValidationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditHistoryServiceService">
    <wsdl:port name="creditHistoryServicePort" binding="tns:CreditHistoryServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/creditHistoryServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
